body {
  font: 20px Arial, serif;
}

.navbar {
  background-color: burlywood;
}

.quem-somos {
  background-color: gainsboro;
}

.margin {
  padding-top: 10px;
  padding-bottom: 50px;
}

.parceiros {
  background-color: antiquewhite;
}

.servicos {
  background-color: bisque;
}

.bg-footer {
  background-color: black;
  color: white;
  font-size: 12px;
  font-weight: bold;
  align-items: center;
}
